@font-face {
  font-family: "KellySlab";
  src: url("../fonts/KellySlab-Regular.ttf");
}

body,
html,
#root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  font-family: 'KellySlab';
}

a,
link {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: inherit;
}

.contentContainer {
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.viewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  flex-grow: 2;
}

.button {
  margin: 0.3rem;
  padding: 0.3rem;
  border-bottom: 2px solid black;

}


@media (max-width: 1024px),
(max-height: 420px) {

  .contentContainer {
    width: 100vw;
  }

}

